@import 'tailwindcss';

@theme {
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-accent: #000000;
  --color-background: #ffffff;
}
#animationReload {
  animation: reload 1s ease infinite;
}

@keyframes reload {
  to {
    transform: rotate(360deg);
  }
}
