@import 'tailwindcss';

@theme {
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-accent: #000000;
  --color-background: #ffffff;
}
#animationReload {
  animation: reload 1s ease infinite;
}

@keyframes reload {
  to {
    transform: rotate(360deg);
  }
}

.triangulo-abajo::before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid var(--color-accent);
}

.rounded-custom-r {
  border-radius: 200px 999px 999px 200px;
}

.rounded-custom-l {
  border-radius: 999px 200px 200px 999px;
}

body {
  background-color: #fbfbfb;
  background-repeat: repeat;
}
